@media (max-width: 768px) {
  .description_title::first-letter{
    text-transform: uppercase;
    font-size: 2rem;
    color: #44E391;
  }
  .nav__container{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 50%;
    height: 5rem;
    color: white;
    background-color: #1A112E;
    z-index: 999;	
  }

  .links{
    display: none;
  }

  .description_title{
    padding-left: 4rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }
}

@media (min-width: 769px) {

  .description_title::first-letter{
    text-transform: uppercase;
    font-size: 3rem;
    color: #44E391;
  }
  .nav__container{
    margin-top: 0%;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 50%;
    padding-right: 2rem;
    height: 5rem;
    color: #FDFDFF;
    background-color: #1A112E;
    z-index: 999;	
  }
  
  .nav__links{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: right;
    width: 100%;
  }

  .description_title{
    padding-left: 9rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }
  
  .text_link{
    color: inherit;
    text-decoration: inherit;
  }

  .menu_button{
    display: none;
  }
}
